{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}房子网{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>用户管理</h1>
</div>
<div class="row">
    <div class="col-md-2">
        <a class="btn btn-success" type="button" href="{{ url_for('auth.add_user') }}">添加用户</a>
    </div>
</div>
<div class="divider"></div>
<div class="row">
    <div class="col-md-8">
        <table class="table table-hover">
            <thread>
                <tr>
                    <th>id</th>
                    <th>用户名</th>
                    <th>邮箱</th>
                    <th>密码</th>
                    <th>动作</th>
                </tr>
            </thread>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.email}}</td>
                    <td><a href="{{ url_for('auth.change_password', id=user.id) }}">修改</a></td>
                    <td><a href="{{ url_for('auth.status_user', id=user.id) }}">
                        {% if user.actived %}
                        停用
                        {% else %}
                        启用
                        {% endif %}
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% if pagination %}
        <div class="pagination">
            {{ macros.pagination_widget(pagination, 'auth.user_management') }}
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
