{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
<script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
{{ super() }}
{% endblock %}
{% block title %}房子网{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>添加小区信息</h1>
</div>
<div class="divider"></div>
<div class="row">
    <div class="col-md-8">
        <form action="" method="post" class="form-horizontal" role="form">
            <div class="form-group ">
                <label class="col-sm-2 control-label">小区名称</label>
                <div class="col-sm-2">
                    <input class="form-control" id="community_name" name="community_name" type="text" value="">
                </div>
            </div>
            <div class="form-group ">
                <label class="col-sm-2 control-label">小区位置</label>
                <div class="col-sm-2">
                    <select class="control-label" name="district_id" type="select" id="id_district">
                        <option value="">区域</option>
                        {% for d in districts %}
                            <option value="{{ d.id }}">{{ d.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="control-label" name="area_id" type="select" id="id_area">
                        <option value="">街道</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-1"></div>
                <input class="btn btn-default" id="submit" name="submit" type="submit" value="确定">
            </div>
        </form>
    </div>
</div>
<script>
$(function(){
    $("#id_district").bind("change", function(){
        var id=$(this).val();
        $.ajax({
            type: "GET",
            dateType: "json",
            url: "get_areas_json/"+id,
            success: function(data){
                var jsonObj=data["areas"];
                var optionString="";
                for(var j=0; j<jsonObj.length; j++) {
                    optionString += "<option value=\"" + jsonObj[j].id + "\">" + jsonObj[j].name + "</option>";
                };
                $("#id_area").html("<option value=''>街道</option>" + optionString);
            }
        });
    })
})
</script>
{% endblock %}
