{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}房子网{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>街道</h1>
</div>
<div class="row">
    <div class="col-md-2">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<div class="divider"></div>
<div class="row">
    <div class="col-md-8">
        <table class="table table-hover">
            <thread>
                <tr>
                    <th>id</th>
                    <th>名称</th>
                    <th>管理</th>
                </tr>
            </thread>
            <tbody>
            {% for area in areas %}
                <tr>
                    <td>{{area.id}}</td>
                    <td>{{area.name}}</td>
                    <td><a href="{{ url_for('edit.communities', id=area.id) }}">管理</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
