{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}房子网{% endblock %}

{% block page_content %}
<ol class="breadcrumb">
  <li><a href="{{ url_for('edit.main') }}">后台主页</a></li>
  <li><a href="{{ url_for('edit.districts') }}">上海</a></li>
  <li><a href="{{ url_for('edit.areas', id=area.district.id) }}">{{area.district.name}}</a></li>
  <li class="active">{{area.name}}</li>
</ol>
<div class="page-header">
    <h1>小区</h1>
</div>
<div class="row">
    <div class="col-md-2">
        {{ wtf.quick_form(form) }}
    </div>
</div>
<div class="divider"></div>
<div class="row">
    <div class="col-md-8">
        <table class="table table-hover">
            <thread>
                <tr>
                    <th>id</th>
                    <th>名称</th>
                    <th>管理</th>
                    <th>编辑</th>
                </tr>
            </thread>
            <tbody>
            {% for community in communities %}
                <tr>
                    <td>{{community.id}}</td>
                    <td>{{community.name}}</td>
                    <td><a href="{{ url_for('edit.posts', id=community.id) }}">管理</a></td>
                    <td><a href="{{ url_for('edit.community_management', id=community.id) }}">编辑</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
