{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
<script src="{{ url_for('static', filename='ckeditor/ckeditor.js') }}"></script>
{{ super() }}
{% endblock %}
{% block title %}房子网 - 添加二手房{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>发布二手房</h1>
</div>
<div class="page-header">
    <h3>基本信息</h3>
</div>
<form action="" method="post" class="form-horizontal" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group ">
            {{ form.community_name.label(class="col-sm-2 control-label")}}
            <div class="col-sm-2">
                {{ form.community_name(class="form-control") }}
            </div>
        </div>
        <div class="form-group ">
            {{ form.total_area.label(class="col-sm-2 control-label")}}
            <div class="col-sm-2">
                {{ form.total_area(class="form-control") }}
            </div>
            <label class="control-label">平米</label>
        </div>
        <div class="form-group ">
            {{ form.price.label(class="col-sm-2 control-label") }}
            <div class="col-sm-2">
                {{ form.price(class="form-control") }}
            </div>
            <label class="control-label">万元</label>
        </div>
        <div class="form-group ">
            {{ form.total_price.label(class="col-sm-2 control-label") }}
            <div class="col-sm-2">
                {{ form.total_price(class="form-control") }}
            </div>
            <label class="control-label">万元</label>
        </div>
        <div class="form-group ">
            {{ form.down_payment.label(class="col-sm-2 control-label") }}
            <div class="col-sm-2">
                {{ form.down_payment(class="form-control") }}
            </div>
            <label class="control-label">万元</label>
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">房型：</label>
            <div class="col-sm-2">
                {{ form.shi(class="form-control") }}
            </div>
            {{ form.shi.label(class="col-sm-1 control-label") }}
            <div class="col-sm-2">
                {{ form.ting(class="form-control") }}
            </div>
            {{ form.ting.label(class="col-sm-1 control-label") }}
            <div class="col-sm-2">
                {{ form.wei(class="form-control") }}
            </div>
            {{ form.wei.label(class="col-sm-1 control-label") }}
        </div>
        <div class="form-group ">
            <label class="col-sm-2 control-label">房屋情况：</label>
            <div class="col-sm-1">
                {{ form.type(class="control-label") }}
            </div>
            <div class="col-sm-1">
                {{ form.decoration(class="control-label") }}
            </div>
            <div class="col-sm-1">
                {{ form.toward(class="control-label") }}
            </div>
            <div class="col-sm-8"></div>
        </div>
        <div class="form-group ">
            {{ form.floor.label(class="col-sm-2 control-label") }}
            <div class="col-sm-2">
                {{ form.floor(class="form-control") }}
            </div>
        </div>
        <div class="form-group ">
            {{ form.total_floor.label(class="col-sm-2 control-label") }}
            <div class="col-sm-2">
                {{ form.total_floor(class="form-control") }}
            </div>
        </div>
        <div class="page-header">
            <h3>详细信息</h3>
        </div>
        <div class="form-group">
            {{ form.title.label(class="col-sm-2 control-label") }}
            <div class="col-sm-10">
                {{ form.title(class="form-control") }}
            </div>
        </div>
        <div class="form-group ">
            {{ form.detail.label(class="col-sm-2 control-label") }}
            <div class="col-sm-10">
            {{ form.detail(class="form-control") }}
            <script>CKEDITOR.replace('detail');</script>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-2"></div>
                {{ form.submit(class="btn btn-default") }}
        </div>
</form>
</div>
{% endblock %}
