{% macro pagination_widget(pagination, endpoint, fragment='') %}
<div class="fanye gray6 r">
    <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page=pagination.prev_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
        &laquo;
    </a>
    {% for p in pagination.iter_pages() %}

            <a href="{{ url_for(endpoint, page = p, **kwargs) }}{{ fragment }}"
                {% if p == pagination.page %}style="color: #0000FF" {% endif %}>{{ p }}</a>
    {% endfor %}
        <a href="{% if pagination.has_next %}{{ url_for(endpoint, page=pagination.next_num, **kwargs) }}{{ fragment }}{% else %}#{% endif %}">
            &raquo;
        </a>
</div>
{% endmacro %}